
html {
    height: 100%;
    box-sizing:border-box;
}

body {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    /*background: url('./contact-form/bg.png') center center fixed no-repeat;
    */
    background-color: #100e17;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}

.navbar {
    background: #fff;
    border-bottom: 1px solid #eee;
}

.nav-item {
    margin-right: 20px;
}

.nav-item a {
    font-size: 20px;
}

#fb_icon:hover {
    color: #3b5998;
    font-size: 23px;
}
#insta_icon:hover {
    color: #fb3958;
    font-size: 23px;
}
#twitter_icon:hover {
    color: #1da1f2;
    font-size: 23px;
}

/* About us CSS*/

.card-header button {
    font-size: 23px;
}

.card-body {
    font-family: 'Raleway', sans-serif; 
}

.wie__image {
    position: relative;
    widows: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wie__h1 {
    z-index: 2;
    position: absolute;
    font-size: 120px;
    border: 5px solid #fff;
    color: #fff;
    padding: 20px;
}

.wie__h {
    font-size: 50px;
}

.wie__card:hover .card-title i{
    color: #2faadd;
}

.team_tag_1 {
    color: #fff;
    margin: 20px 0 20px 0;
    font-family: 'Baloo Chettan', cursive;
}

.team {
    margin: 0 auto;
}

.social_icons a {
    margin: 5px;
    color: black;
}



#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px;
}

@media(max-width: 1000px) {
    .wie__h1 {
        font-size: 70px;
    }
    .wie__h {
        font-size: 30px;
    }
    .wie__card, .team_teachers {
        margin-bottom: 20px;
    }
}
@media(max-width: 600px) {
    .wie__h1 {
        font-size: 40px;
    }
    .wie__h {
        font-size: 20px;
    }
}
@media(max-width: 420px) {
    .wie__h1 {
        font-size: 30px;
    }
    .wie__h {
        font-size: 10px;
    }
}
@media (max-width:750px) and (min-width:560) {

    .wie__card_title {
        
    }
    .wie__card_text {

    }
}
